body {
    background-color: #f6f1ee;
    display:flex;
    position:relative;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 60px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .back{
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    margin: 24px 0 0 24px;
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 400;
}
