/* Tryon.module.css */
.colorbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    bottom: 20px;
    right: 40px;
    border-radius: 60px;
    
   
}
.colorbox button:hover {
    transform: scale(1.2);
    margin-top: 10px;
}

.insertbotton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 0px;
    
    
}
.insertbotton button {
    margin-top: 85px;
    background-color: #f6f1ee;
    color: black;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.insertbotton button:hover {
    background-color: #fbdcce;
  
}

.insertbotton input[type="file"] {
    display: none;
}

.insertbotton img {
    margin-top: 5px;
    width: 80px; /* Set a fixed width for the image */
    height: 80px; /* Maintain aspect ratio */
    border-radius: 5px;
    
}

.insertbotton select {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}

.insertbotton select:focus {
    outline: none;
}

.insertbotton select option {
    padding: 10px;
}

.insertbotton select option:hover {
    background-color: #f0f0f0;
}

.insertreset{
    padding: 0px;
    position: absolute;
    bottom: 10px;
    right: 100px;
    
    
}
.insertreset button {
    margin-top: 0px;
    background-color: #f6f1ee;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.insertreset button:hover {
    background-color: #fbdcce;
  
}



.insertreset img {
    margin-top: 5px;
    width: 30px; /* Set a fixed width for the image */
    height: 30px; /* Maintain aspect ratio */
    border-radius: 5px;
    
}
.insertreset select option:hover {
    background-color: #f0f0f0;
}

.Detect{
   position: fixed;
   left: 50%;
   transform: translate(-50%, -20%);
    align-items: center;
    font-size: 20px;
    color: black;

}
/* Tryon.module.css */

.insertcolor{
    
    padding: 20px;
    position: absolute;
    bottom: 65px;
    right: 50%;
    transform: translate(50%, 0%);
    
}
.insertcolor button {
    margin-top: 0px;
    background-color: #f6f1ee;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.insertcolor button:hover {
    background-color: #fbdcce;
  
}

.insertcolor input[type="file"] {
    display: none;
}

.insertcolorimg {
    margin-top: 1px;
    width: 30px; /* Set a fixed width for the image */
    height: 30px; /* Maintain aspect ratio */
    border-radius: 5px;
    
}

.insertcolor select {
    margin-top: 0px;
    padding: 1px;
    border-radius: 5px;
}

.insertcolor select:focus {
    outline: none;
}

.insertcolor select option {
    padding: 1px;
}

.insertcolor select option:hover {
    background-color: #f0f0f0;
}
.Detect{
    background-color: pink;
    display:flex;
    padding: 5px;
    border-radius: 600px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    flex-direction: column;
    font-size: medium;
    margin-top: -60px;
   align-items: center;
    
    
   
}
.colorimg{
    transform: translate(0%, 15%);
    padding: 20px;
    position: absolute;
    bottom: 75px;
    right: 30px;
    
}
.showlesscolor{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 250px;
    top: 40px;
    
}
