/* Tryon.module.css */

.insertImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.insertImage button {
    margin-top: 10px;
    padding: 0px 0px;
    background-color: #f6f1ee;
    color: black;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.insertImage button:hover {
    background-color: #fbdcce;
  
}

.insertImage input[type="file"] {
    display: none;
}

.insertImage img {
    margin-top: 20px;
    width: 400px; /* Set a fixed width for the image */
    height: 400px; /* Maintain aspect ratio */
    border-radius: 5px;
    
}

.insertImage select {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.insertImage select:focus {
    outline: none;
}

.insertImage select option {
    padding: 10px;
}

.insertImage select option:hover {
    background-color: #f0f0f0;
}

/* Tryon.module.css */

.colorBox {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.insertbotton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-radius: 60px;
    
}


/* Tryon.module.css */

