
.insertImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    
}

.insertImage button {
    margin-top: 0px;
    padding: 0px 0px;
    background-color: #f6f1ee;
    color: black;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.insertImage button:hover {
    background-color: #fbdcce;
  
}

.insertImage input[type="file"] {
    display: none;
}

.insertImage img {
    margin-top: 0px;
    width: 600; /* Set a fixed width for the image */
    height: 390; /* Maintain aspect ratio */
    border-radius: 5px;
    
}

.insertImage select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.insertImage select:focus {
    outline: none;
}

.insertImage select option {
    padding: 10px;
}

.insertImage select option:hover {
    background-color: #f0f0f0;
}

/* Tryon.module.css */

.colorBox {
    align-items: center;
    
    
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.colorbox button:hover {
    transform: scale(1.2);
}

.insertbotton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-radius: 60px;
    
}
.insertbotton button {
    margin-top: 60px;
    background-color: #f6f1ee;
    color: black;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.insertbotton button:hover {
    background-color: #fbdcce;
  
}

.insertbotton input[type="file"] {
    display: none;
}

.insertbotton img {
    margin-top: 5px;
    width: 80px; /* Set a fixed width for the image */
    height: 80px; /* Maintain aspect ratio */
    border-radius: 5px;
    
}

.insertbotton select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.insertbotton select:focus {
    outline: none;
}

.insertbotton select option {
    padding: 10px;
}

.insertbotton select option:hover {
    background-color: #f0f0f0;
}

.insertreset{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    bottom: 10px;
    right: 100px;
    
    
}
.insertreset button {
    margin-top: 0px;
    background-color: #f6f1ee;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.insertreset button:hover {
    background-color: #fbdcce;
  
}

.insertreset input[type="file"] {
    display: none;
}

.insertreset img {
    margin-top: 5px;
    width: 30px; /* Set a fixed width for the image */
    height: 30px; /* Maintain aspect ratio */
    border-radius: 5px;
    
}

.insertreset select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.insertreset select:focus {
    outline: none;
}

.insertreset select option {
    padding: 10px;
}

.insertreset select option:hover {
    background-color: #f0f0f0;
}

.Detect{
    align-items: center;
    font-size: 20px;
}
/* Tryon.module.css */

.insertcolor{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 75px;
    right: 80px;
    
    
}
.insertcolor button {
    margin-top: 0px;
    background-color: #f6f1ee;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.insertcolor button:hover {
    background-color: #fbdcce;
  
}

.insertcolor input[type="file"] {
    display: none;
}

.insertcolorimg {
    margin-top: 5px;
    width: 30px; /* Set a fixed width for the image */
    height: 30px; /* Maintain aspect ratio */
    border-radius: 5px;
    
}

.insertcolor select {
    margin-top: 0px;
    padding: 5px;
    border-radius: 5px;
}

.insertcolor select:focus {
    outline: none;
}

.insertcolor select option {
    padding: 10px;
}

.insertcolor select option:hover {
    background-color: #f0f0f0;
}
.Detect{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
}
.X{
  position: absolute;
  top: 1px;
}