.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6C270;
  justify-content: center;
  color: black;
  height: 50px;
  padding: 0 10px;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
}

.heading a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
  font-size: 16px;
}

.heading a:hover {
  background-color: #666;
}
