.heading{
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
  z-index: 99999;
  padding: 1px;
  width: 100%;
  height: fit-content;
  background-color:#F6C270;
  color: black;
}
.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fbdcce;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.heading a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
  font-size: 16px;
}

.heading a:hover {
  background-color: #666;
}
.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}