.navbar{
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 0;
  z-index: 99999;
  padding: 10px;
  width: 100%;
  height: fit-content;
  background-color:#F6C270;
  color: black;
}
.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #666;
}
.navbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}